# Salary Dataset

Target: To predict salary as per years of experience

In [208]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [209]:
data=pd.read_csv('Salary.csv')

In [210]:
data

    YearsExperience  Salary
0               1.1   39343
1               1.3   46205
2               1.5   37731
3               2.0   43525
4               2.2   39891
5               2.9   56642
6               3.0   60150
7               3.2   54445
8               3.2   64445
9               3.7   57189
10              3.9   63218
11              4.0   55794
12              4.0   56957
13              4.1   57081
14              4.5   61111
15              4.9   67938
16              5.1   66029
17              5.3   83088
18              5.9   81363
19              6.0   93940
20              6.8   91738
21              7.1   98273
22              7.9  101302
23              8.2  113812
24              8.7  109431
25              9.0  105582
26              9.5  116969
27              9.6  112635
28             10.3  122391
29             10.5  121872
30             11.2  127345
31             11.5  126756
32             12.3  128765
33             12.9  135675
34             13.5  139465

In [211]:
data.shape

(35, 2)

In [212]:
data.isnull().sum()

YearsExperience    0
Salary             0
dtype: int64

In [213]:
x=data.iloc[:,0:1]
x.head()

   YearsExperience
0              1.1
1              1.3
2              1.5
3              2.0
4              2.2

In [214]:
y=data.iloc[:,1:2]
y.head()

   Salary
0   39343
1   46205
2   37731
3   43525
4   39891

In [215]:
print(x.shape)
print(y.shape)

(35, 1)
(35, 1)

In [216]:
from sklearn.model_selection import train_test_split

In [217]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.25,random_state=51)

In [218]:
print(x_train.shape)
print(y_train.shape)

(26, 1)
(26, 1)

In [219]:
print(x_test.shape)
print(y_test.shape)

(9, 1)
(9, 1)

In [220]:
from sklearn.linear_model import LinearRegression

In [221]:
LR=LinearRegression()

In [222]:
LR.fit(x_train,y_train)

LinearRegression()

In [223]:
predlr=LR.predict(x_test)
print('predicted result:',predlr)
print('actual result:',y_test)

predicted result: [[118521.06138242]
 [ 72149.95420618]
 [ 64421.43634347]
 [126249.57924513]
 [ 42953.33116928]
 [128825.75186603]
 [104781.47407094]
 [ 80737.19627585]
 [107357.64669184]]
actual result:     Salary
28  122391
15   67938
12   56957
30  127345
2    37731
31  126756
24  109431
18   81363
25  105582

In [224]:
from sklearn.metrics import mean_squared_error,mean_absolute_error

In [225]:
print('error')
print('Mean absolute error:', mean_absolute_error(y_test,predlr))
print('Mean squared error:', mean_squared_error(y_test,predlr))
print('Root mean squared error:', np.sqrt(mean_squared_error(y_test,predlr)))

error
Mean absolute error: 3442.756589162908
Mean squared error: 16261555.351524724
Root mean squared error: 4032.5618844011215

In [226]:
from sklearn.metrics import r2_score
print(r2_score(y_test,predlr))

0.9832320406234343